# Виртуальное окружение Python
venv/
.venv/

# Файлы окружения (конфиденциальные данные)
.env


# Кэш Python
__pycache__/
*.py[cod]

# Файлы IDE/редакторов
.vscode/
.idea/

# Логи и системные файлы
*.log
*.tmp